*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: skyblue;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}
.ExTrApp{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputData{
    height: 30%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.inputData input{
    padding: 5px 10px;
    background: #dedada;
    border: none;
    border-radius: 3px;
}
.inputData .submitBtn{
    padding: 5px 20px;
    background: skyblue;
    color: #000;
    border-radius: 3px;
    border: none;
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
}
.inputData .submitBtn:hover{
    background: rgb(37, 171, 224);
    transform: scale(1.1);
}
table{
    text-align: center;
    display: none;
}
table th{
    font-size: 25px;
}
table td, th{
    width: 300px;
    height: 50px;
    padding: 20px;
}
table button{
    padding: 5px 10px; 
    background: skyblue;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}